@import url(https://fonts.googleapis.com/css?family=Raleway);

@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url('../fonts/Raleway/Raleway-Bold.ttf') format('truetype');
}

html * {
    font-family: 'Raleway', sans-serif;
}

.nav-auth li a {
    display: inline-block;
}

.separator {
    color: white;
}

/* Login form styles */

.login-container {
    background-color: #EEEEEE;
    padding-top: 25px;
    padding-bottom: 35px;
    border-radius: 8px;
}

.main {
    max-width: 320px;
    margin: 0 auto;
}

.login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#login-message {
    margin-top: 35px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

.hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.review-info {
    margin-left: 23px;
    margin-bottom: 25px;
    font-family: 'Raleway-ExtraBold', sans-serif;
    color: #848484;
}

.review-content a {
    color: #333333;
    text-decoration: none;
}

.review-content a:hover {
    color: #4086E0;
}

.review-pic {
    position: relative;
    display: inline-block;

}

.notify-badge {
    position: absolute;
    right: 26px;
    top: 10px;
    background: #2776DC;
    text-align: center;
    border-radius: 12px 12px 12px 12px;
    color: white;
    padding: 5px 10px;
    font-size: 13px;
}

.review-pic {
    width: 100%;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
}

.review-content {
    size: 100px;
    border: 1px solid #DCDCDC;
    border-bottom-right-radius: 2%;
    border-bottom-left-radius: 2%;
    margin-bottom: 20px;
}

.comment-pic {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.comment-container {
    margin: 10px;
}

.comment-content {
    padding-left: 50px;
}

.submit-comment {
    margin: 10px;
}

.submit-comment-div {

}

.profile-pic {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 20px;
}

.navbar-pic {
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.profile {
    display: block;
    align-content: center;
}

/* End login form styles */

.contents {
    margin: 20px;
    padding: 20px;
    list-style: none;
    background: #F9F9F9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contents li {
    margin-bottom: 10px;
}

.loading-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.56);
    z-index: 999;
    display: none;
}

.loading-div img {
    margin-top: 20%;
    margin-left: 50%;
}

/* Pagination style */
.pagination {
    margin: 0;
    padding: 0;
}

.pagination li {
    display: inline;
    padding: 6px 10px 6px 10px;
    border: 1px solid #ddd;
    margin-right: -1px;
    font: 15px/20px Arial, Helvetica, sans-serif;
    background: #FFFFFF;
    box-shadow: inset 1px 1px 5px #F4F4F4;
}

.pagination li a {
    text-decoration: none;
    color: rgb(89, 141, 235);
}

.pagination li.first {
    border-radius: 5px 0px 0px 5px;
}

.pagination li.last {
    border-radius: 0px 5px 5px 0px;
}

.pagination li:hover {
    background: #CFF;
}

.pagination li.active {
    background: #F0F0F0;
    color: #333;
}

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
    background-color: whitesmoke;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }

    @media screen and (min-width: 985px) {
        .review-pic {
            height: 200px;
        }
    }
}

.header-video {
    max-width: 100%;
    max-height: 100%;
}